[defaults]

inventory = inventory.yml

; Ansible Paths
;
; To avoid intermingling first-party and third-party content, we can
; configure ansible-galaxy to install collections and roles into
; dedicated vendor directories within the project structure.
collections_path = vendor/collections:.

; Profile each task in the playbook with the ansible.posix.profile_tasks
; callback plugin. This will provide detailed timing information for
; each task, which can be useful for identifying performance bottlenecks
; and optimizing playbook execution.
callbacks_enabled = ansible.posix.profile_tasks
