[defaults]
interpreter_python = auto

[connection]
# @see https://docs.ansible.com/ansible/latest/reference_appendices/config.html#ansible-pipelining
pipelining = True

[ssh_connection]

# Enable ControlMaster and ControlPersist to speed up SSH connections
# Disable strict host key checking and user known hosts file to avoid prompts when connecting to new hosts (should not
# be used in production environments)
ssh_args = -o ControlMaster=auto -o ControlPersist=3600 -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
