<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <title>List Bookmarks | Bookmark DB</title>
</head>
<body>
    <h1>Bookmark DB</h1>
    <h2>List Bookmarks</h2>
    {{ if .bookmarks }}
        {{ range .bookmarks }}
            <details>
                <summary>
                    {{ .Url }}
                </summary>
                <a href="{{ .Url }}" target="_blank">Open</a> /
                <a href="/bookmarks/{{ .ID }}/edit">Edit</a> /
                <a href="/bookmarks/{{ .ID }}/delete">Delete</a>
                <p>{{ .Note }}</p>
            </details>
        {{ end }}
    {{ else }}
        <p>No bookmarks found.</p>
    {{ end }}
    <a href="/bookmarks/create">Create Bookmark</a> / <a href="/logout">Logout</a>
</body>
</html>