# k3s data
/data

# generated kubeconfig file
/kubeconfig.yaml

# Terraform providers
/.terraform

# Terraform state
/terraform.tfstate
/terraform.tfstate.*.backup
/terraform.tfstate.backup
/.terraform.lock.hcl

# Terraform variables
/*.auto.tfvars
/terraform.tfvars

# Terraform lock info
/.terraform.tfstate.lock.info
